body
{
	background-image: url('img/concrete_wall.png');
	font-family: 'Merriweather', sans-serif;
}
#container
{
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #faf8f5;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #26231c;
	height: 700px;
}
#title
{
	/*background-color: #696661;*/
	background-color: #6cc2eb;
	color:#faf8f5;
	padding: 10px;
	
}
h1
{
	text-align: center;
	font-weight: 700;
	letter-spacing: 3px;
	margin-top: 20px;
	margin-bottom: 20px;
	
}
#logo
{
	margin-top: 40px;
	float: left;
	width: 200px;
	text-align: center;
	border-right: 2px solid #26231c; 
}
#introduction
{
	color: #faf8f5;
	float: left;
	text-align: center;
	margin-top: 60px;
	min-width: 650px;
	font-weight: 700;
	font-size: 20px;
	transition: color .4s ease-in-out;
}
#mainSite
{
	text-align: center;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.entry
{
	float: left;
	width: 500px;
	text-align: center;
}
.stSubmit
{
	background-color:#a75a63; 
	width: 300px;
	font-size:20px;
	color: white;
	padding: 15px 10px;
	margin-top: 100px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
}
#log
{
	background-color: #6caa6c;
}
#log:hover
{
	background-color: #4baa5b;
}
#reg:hover
{
	background-color:#a54a52; 
}

.footer
{
	background-color: #6cc2eb;
	color:#faf8f5;
	height: 20px;
	padding: 10px;
	font-size: 14px;
	letter-spacing: 1px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}
.rlSubmit
{
	background-color: #6caa6c;
	width: 240px;
	font-size:17px;
	color: white;
	padding: 10px 5px;
	margin-top: 25px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
}
.rlSubmit:hover
{
	background-color: #4baa5b;
}

.rejlog
{
	text-align: right;
	width: 605px;
	margin-left: auto;
	margin-right: auto;
}
.inputType
{
	width: 212px;
	height: 30px;
	background-color: #efefef;
	color: #666;
	font-size: 15px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
	border: none;
}
.labelAndInput
{
	margin-top:10px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 240px;
	height: 30px;
	background-color: #efefef;
	border: 2px solid #ddd;
	border-radius: 5px;
}
#selectionWindow
{
	float: left;
}
#workingWindow
{
	float: left;
	border-left: 2px dotted #696661;
	width: 808px;
	height: 477px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	
}
.mainButton
{ 
	margin-top: 0px;
	text-align: center;
	margin-left: 15px;
	margin-right: auto;
	width: 175px;
	height: 40px;
	color: #8e9091;
	background-color: #faf8f5;
}

.mainSubmit
{
	background-color: #faf8f5;
	cursor: pointer;
	text-align: center;
	margin-left: 0;
	margin-right: 0;
	width: 140px;
	height: 40px;
	border: none;
	color: #8e9091;
	font-size: 15px;
	font-family: fontello;
}
.mainSubmit:hover
{
	color: black;
}
#infoLogin
{
	margin-top: 10px;
	font-size: 10px;
	color: #04c91e;
}
