body
{
	background-image: url('img/concrete_wall.png');
	font-family: 'Merriweather', sans-serif;
}
#container
{
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #faf8f5;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #26231c;
	height: 700px;
}
#title
{
	background-color: #696661;
	color:#faf8f5;
	padding: 15px;
	
}
h1
{
	text-align: center;
	font-weight: 700;
	letter-spacing: 3px;
	margin-top: 22px;
	margin-bottom: 30px;
	
}
#logo
{
	margin-top: 40px;
	float: left;
	width: 200px;
	text-align: center;
	border-right: 2px solid #26231c; 
}
#introduction
{
	float: left;
	text-align: center;
	margin-top: 60px;
	min-width: 650px;
	font-weight: 700;
	font-size: 20px;
}
#mainSite
{
	text-align: center;
	width: 1000px;
}

.entry
{
	float: left;
	width: 500px;
	text-align: center;
}
.stSubmit
{
	background-color:#a86a74; 
	width: 300px;
	font-size:20px;
	color: white;
	padding: 15px 10px;
	margin-top: 100px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
}
#log
{
	background-color: #7dba7d;
}
#log:hover
{
	background-color: #6caa6c;
}
#reg:hover
{
	background-color:#a75a63; 
}

.footer
{
	background-color: #696661;
	color:#faf8f5;
	height: 20px;
	padding: 10px;
	font-size: 14px;
	letter-spacing: 1px;
	text-align: center;
	margin-top: 200px;
	margin-bottom: 0px;
}
.rlSubmit
{
	background-color:#7dba7d; 
	width: 210px;
	font-size:17px;
	color: white;
	padding: 10px 5px;
	margin-top: 25px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
}
.rejlog
{
	text-align: right;
	width: 605px;
}
.inputType
{
	width: 212px;
	height: 30px;
	background-color: #efefef;
	color: #666;
	border: 2px solid #ddd;
	border-radius: 5px;
	font-size: 15px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
	margin-top: 10px;
}
